/*-- scss:defaults --*/
/*-- scss:rules --*/
/*-- scss:mixins --*/
/*-- scss:functions --*/
/*-- scss:uses --*/

$active-cl: #d72638;

$main-cl: #272932;
$left-code-cl: #f5841b;

$text-cl: #f7eded;
$primary-color: #42a5f5;
$secondary-color: #0888d1;

$main-color: #073642;

$line-cl: rgba(255, 255, 255, 0.3);

// code

$codebg: #0f0f0f;
$code-cl: #68c7b7;

// $terciary-color: #49b5c9;
$terciary-color: #08444e;
// $active-cl: $code-color;
// $link-color: $code-cl;
