/*-- scss:defaults --*/
/*-- scss:rules --*/
/*-- scss:mixins --*/
/*-- scss:functions --*/
/*-- scss:uses --*/

$active-cl: #28d9c7;
$main-cl: #f8f8f8;
$left-code-cl: #0f7173;

$text-cl: #272932;
$primary-color: #0f5c83;
$secondary-color: #0f7173;
$terciary-color: $secondary-color;

$main-color: #073642;
// $code-block-border-left: $left-code-cl;

$line-cl: rgba(0, 0, 0, 0.3);

$codebg: #f0f0f0;
$code-cl: #9753b8;
