.Rproj.user
.Rhistory
.RData
.Ruserdata
blogdown
.DS_Store
deploy.sh
public*/
ISSUES.md
.history/
_*/
/_*.*md
!/_extensions/
!/_assets/
!/_partials/
!/_freeze/
!/_site/
!/_site/_*
/.quarto/

/.luarc.json