/*-- scss:defaults --*/
@import "../colors/colors.scss";

// $theme: "zephyr-dark" !default;

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #3459e6 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #da292e !default;
$orange: #f8765f !default;
$yellow: #f4bd61 !default;
$green: #2fb380 !default;
$teal: #20c997 !default;
$cyan: #287bb5 !default;

$primary: $blue !default;
$secondary: $white !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$min-contrast-ratio: 1.65 !default;

$enable-shadows: true !default;

// Body

$body-color: $gray-200 !default;
$body-bg: $black;
$headings-color: $gray-100 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875 !default;

// Components

$box-shadow: 0 1px 2px rgba($gray-900, 0.05) !default;
$box-shadow-lg: 0 1px 3px 0 rgba($gray-900, 0.1),
  0 1px 2px 0 rgba($gray-900, 0.06) !default;

// Tables

$table-cell-padding-y: 1rem !default;
$table-cell-padding-x: 1rem !default;
$table-cell-padding-y-sm: 0.5rem !default;
$table-cell-padding-x-sm: 0.5rem !default;

$table-th-font-weight: 500 !default;

// Buttons + Forms

$input-btn-padding-y: 0.5rem !default;
$input-btn-padding-x: 1rem !default;
$input-btn-font-size: $font-size-sm !default;

// Buttons

$btn-font-weight: 500 !default;
$btn-box-shadow: $box-shadow !default;
$btn-focus-box-shadow: $box-shadow !default;
$btn-active-box-shadow: $box-shadow !default;

// Forms

$form-label-font-weight: 500 !default;
$input-box-shadow: $box-shadow !default;
$input-group-addon-bg: $gray-900 !default;

// Navs

$nav-link-color: $body-color !default;
$nav-link-hover-color: $body-color !default;

$nav-tabs-border-radius: 0 !default;
$nav-tabs-link-active-color: $primary !default;

// Navbar

$navbar-padding-y: 0.85rem !default;

$navbar-nav-link-padding-x: 0.75rem !default;

$navbar-dark-color: $black !default;
$navbar-dark-hover-color: $black !default;
$navbar-dark-active-color: $black !default;

$navbar-light-color: $white !default;
$navbar-light-hover-color: $white !default;
$navbar-light-active-color: $white !default;

// Dropdowns

$dropdown-color: $white;
$dropdown-bg: mix($black, $gray-900, 50%);

$dropdown-font-size: $font-size-sm !default;
$dropdown-border-color: $gray-700 !default;
$dropdown-divider-bg: $gray-800 !default;

$dropdown-link-color: $light;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: $primary !default;

$dropdown-item-padding-y: 0.5rem !default;
$dropdown-item-padding-x: 1rem !default;

// Pagination

$pagination-padding-y: 0.5rem !default;
$pagination-padding-x: 1rem !default;

$pagination-color: $gray-300 !default;
$pagination-bg: $gray-900;
$pagination-border-color: $gray-700;

$pagination-focus-color: $pagination-color !default;
$pagination-focus-background: $gray-700;

$pagination-hover-color: $pagination-color !default;
$pagination-hover-bg: $gray-800 !default;

$pagination-disabled-color: $gray-600;
$pagination-disabled-bg: $gray-900;

// Cards
$card-spacer-x: 1.5rem !default;
$card-cap-padding-y: 1rem !default;
$card-cap-padding-x: 1.5rem !default;
$card-border-color: rgba($white, 0.125);
$card-cap-bg: rgba($white, 0.03);
$card-cap-color: null;
$card-color: null;
$card-bg: $black;

// Accordions
$accordion-button-bg: mix($black, $gray-900, 50%);
$accordion-button-active-bg: $gray-900;
$accordion-button-active-color: $white;

// Toasts

$toast-header-color: $headings-color !default;

// Modals

$modal-content-bg: $black;
$modal-content-border-color: $gray-700 !default;
$modal-header-border-width: 0 !default;

// List group

$list-group-item-padding-y: 1rem !default;
$list-group-item-padding-x: 1.5rem !default;

// Breadcrumbs

$breadcrumb-padding-x: 1rem !default;

$breadcrumb-divider: quote(">") !default;

// Progress Bars

$progress-bg: $gray-900;
$progress-bar-color: $gray-800;

// Toasts

$toast-color: null;
$toast-background-color: rgba($black, 0.85);
$toast-border-color: rgba($white, 0.1);

$toast-header-color: $gray-100;
$toast-header-background-color: rgba($black, 0.85);
$toast-header-border-color: rgba($white, 0.05);

/*-- scss:rules --*/

// Variables
$web-font-path: "https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Outfit:wght@300;400;500;600&family=Roboto&display=swap";

@if $web-font-path {
  @import url($web-font-path);
}

// Navbar

.navbar {
  font-size: $font-size-sm;
  font-weight: 500;

  .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .menu-text,
  i {
    color: white;
  }

  .navbar-nav {
    .nav-link {
      border-radius: $border-radius;
    }
  }
  .navbar-title {
    letter-spacing: 1px;
    font-weight: bolder;
    font-family: Outfit, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom: $red-50 solid 2px;
      }
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

// Buttons

.btn-secondary,
.btn-light,
.btn-outline-secondary,
.btn-outline-light {
  color: $gray-900;

  &:disabled,
  &.disabled {
    border: 1px solid shade-color($secondary, 10%);
  }
}

.btn-secondary,
.btn-outline-secondary {
  border-color: shade-color($secondary, 10%);

  &:hover,
  &:active {
    background-color: shade-color($secondary, 10%);
    border-color: shade-color($secondary, 10%);
  }
}

.btn-light,
.btn-outline-light {
  border-color: shade-color($light, 10%);

  &:hover,
  &:active {
    background-color: shade-color($light, 10%);
    border-color: shade-color($light, 10%);
  }
}

// Tables

.table {
  box-shadow: $box-shadow-lg;
  font-size: $font-size-sm;
}

thead th {
  text-transform: uppercase;
  font-size: $font-size-sm;
}

// Forms

.input-group-text {
  box-shadow: $box-shadow;
}

// Navs

.nav-tabs {
  font-weight: 500;

  .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-width: 0 0 1px;
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    box-shadow: inset 0 -2px 0 $primary;
  }
}

.nav-pills {
  font-weight: 500;
}

.pagination {
  font-size: $font-size-sm;
  font-weight: 500;

  .page-link {
    box-shadow: $box-shadow;
  }
}

.breadcrumb {
  border: 1px solid $gray-700;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  font-size: $font-size-sm;
  font-weight: 500;

  &-item {
    padding: 1rem 0.5rem 1rem 0;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 1rem;
}

// Indicators

.alert {
  .btn-close {
    color: inherit;
  }
}

.badge {
  &.bg-secondary,
  &.bg-light {
    color: $gray-100;
  }
}

// Containers

.list-group {
  box-shadow: $box-shadow-lg;
}

.card {
  box-shadow: $box-shadow-lg;

  &-title {
    color: inherit;
  }
}

.modal-footer {
  background-color: $gray-900;
}

.modal-content {
  box-shadow: $box-shadow-lg;
}

.sourceCode,
.cell-output {
  background-color: #092b39;
  border-radius: 0.4rem;
}

.cell-output {
  pre code {
    font-size: 0.8rem;
    max-height: 300px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 12px;
      height: 9px;
    }

    &::-webkit-scrollbar-track {
      background-color: $gray-500; /* Color de fondo de la pista */
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue-30; /* Color del pulgar de la barra de desplazamiento */
      border-radius: 5px; /* Radio de borde del pulgar */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $blue-20; /* Color del pulgar al pasar el cursor sobre él */
    }
  }
}

.code-copy-button {
  &::before {
    background-color: red;
  }
  &::hover {
    background-color: red;
  }
  //  background-color: white; // Establece el color de fondo en blanco
}

pre.sourceCode > code.sourceCode {
  padding: 4px 4px 4px 10px;
  background-color: #092b39;
  margin-bottom: 5px;
  border-radius: $border-radius;
}

code span {
  .fu {
    color: $pink;
  }
  .dv {
    color: $white;
  }
  .co {
    color: $gray-500;
  }
}

pre > code {
  padding-left: 10px;
  border-radius: none;
  color: $gray-200;
}

p {
  color: $slate-100;
}

h1,
h2 {
  font-weight: bolder;
  font-family: Inter;
}

@media (min-width: 400px) and (max-width: 990px) {
  // a {
  div .about-entity {
    width: 400px;
    margin: auto;
    // }
  }
  main {
    //    width: 95vw;
    margin: auto;
    // margin-left: 100px;
  }
  #quarto-content.page-columns main.column-page,
  #quarto-content.page-columns main.column-page-right,
  #quarto-content.page-columns main.column-page-left {
    width: 75vw;
  }
}
a {
  text-decoration: none;
  color: #68c5e9;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

h5.no-anchor.card-title.listing-title {
  color: $blue-30;
  font-weight: 700;
  // a {
  &:hover {
    text-decoration: underline;
  }
  // }
}

img.thumbnail-image {
  width: 70%;
}

main {
  margin-top: 3%;
}

div.quarto-post {
  .thumbnail {
    // border: solid red;
    flex-basis: 25%;
    img {
      width: 90%;
      margin: auto;
    }
  }
}

// quarto-grid-item {
//   .card .card-title {
//     margin-bottom: 0.2em;
//   }
// }
h1.title {
  padding-bottom: 1%;
  border-bottom: solid $blue-50;
}

h1,
h2 {
  text-shadow: 0 0 3px white;
  // box-shadow: 0 0 10px white;
  & > code {
    text-shadow: none;
  }
}
h3 {
  text-shadow: 0 0 2px white;
  & > code {
    text-shadow: none;
  }
}

strong {
  font-weight: 550;
  color: $blue-60;
}

div.lead {
  font-size: 1.2em;
}

pre,
.cell-code {
  &::-webkit-scrollbar {
    height: 9px;
  }

  &::-webkit-scrollbar-track {
    background-color: $gray-500; /* Color de fondo de la pista */
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-30; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 5px; /* Radio de borde del pulgar */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $blue-20; /* Color del pulgar al pasar el cursor sobre él */
  }
}

// .page-full {
//   .sourceCode {
//     margin-left: 0;
//   }
// }
